html{
    height: 100%;
}
.img-seed-box{
    position: relative;
    width:250px;
    height:auto;
    left: 20vw;
}
.seed-img{
    width:100%;
    height: auto;
}


.table{
    margin: 5vw 0 5vw 0 ;
}
.btn-title{
    color:white;
    text-align:center;
    
}
.h4{
    font-size:8vw;
}
.btn-outline-about{
    border-color: white;
    color:white;
}
.btn-outline-about:hover{
    color: #FBAC4B;
    background-color:white;
}
@media only screen and (max-width: 600px) {
    .table{
        display:flex;
        flex-direction:column;
        margin-top: 3vh;
    }
    .img-seed-box{
        width:250px;
        height:auto;
        left: 15vw;
    }
    

}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .table{
        display:flex;
        flex-direction:column;
    }
    .img-seed-box{
        width:600px;
        height:auto;
        left: 10vw;
    }
    
}


@media only screen and (min-width: 1200px ) {
    .table{
        display:flex;
        flex-direction:row;
    }
    .img-seed-box{
        width:1000px;
        height:auto;
        left: 5vw;
    }
    .h4{
        font-size:4vw;
    }
 }

 