.container-body{
    margin:1vw 8vw 0 8vw;
    text-align:left;
    color:white;
}
.bold{
    font-family: 'Maven Pro', sans-serif;
    
}
.body-style{
    font-family: 'Cantarell', sans-serif;
}

.main-title{
    font-size:8vw;
    
}
.contant{
    font-size:2vw;
}

.under-title{
    font-size:3vw;
}


@media only screen and (max-width: 600px) {
    .main-title{
        font-size:12vw;
        
    }
    .under-title{
        font-size:5vw;
    }
    .contant{
        font-size:4.267vw;
    }
    .container-body{
        margin:4vw 8vw 0 8vw;
        
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .main-title{
        font-size:12vw;
        
    }
    .under-title{
        font-size:6vw;
    }
    .contant{
        font-size:4.267vw;
    }
    .container-body{
        margin:2vw 3vw 0 3vw;
       
    }
}


@media only screen and (min-width: 1200px ) {
    .main-title{
        font-size:5vw;
        
    }
    .under-title{
        font-size:3vw;
        margin:0.5vw 0vw 0 0vw;
    }
    .contant{
        font-size:1.818vw;
        margin:1vw 0vw 0 0vw;
    }
    .container-body{
        margin:3vw 1vw 0 1vw;
        text-align:left;
        color:white;
    }
 }