.container-body{
    margin:5% 15% 0 15%;
    text-align:center;
    color:white;
}

.main-title-box{
    
}
.main-title{
    font-size:12rem;
    
}
.bold{
    font-family: 'Odibee Sans', cursive;
}
.body-style{
    font-family: 'Big Shoulders Display', cursive;
}

.upper-body{
    
}

.under-title{
    font-size:4rem;
}
