
.card-box{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top:5vh;
    margin-bottom: 5vh;
}

.mail:active{
    transform:scale(1.2)
}

.mail:hover{
    color: #333333;
}

.linkin:active{
    transform:scale(1.2)
}

.linkin:hover{
    color: #333333;
}

.github:active{
    transform:scale(1.2)
}

.github:hover{
    color: #333333;
}

hr{
    color:white;
}

.btn-outline-light:hover{
    color: #333333;
    
}

.btn-text{
    margin-top:1vh;

}
.btn-box-contact{
    display:flex;
    justify-content: center;
    margin-top:5vh;
}