
.fotter{
    display:flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    margin:5vh 0 5vh 0;
}

.copyright{
    height:15vh;
    width:30vh;
}
.icons{
    height:15vh;
    width:30vh;
    padding:0 0 0 40vh;
}
.icon{
    color:white;
    margin-left:1vh;
}
.table{
    display:flex;
    flex-direction: row;
    justify-content: center
}

@media only screen and (max-width: 600px){
    .icons{
        padding:0% 0% 0% 4vh ;
    }
    .logo-title{
        font-size:3vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .icons{
        padding:0% 0% 0% 4vh ;
    }
    .logo-title{
        font-size:3vh;
    }
 }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .icons{
        padding:0% 0% 2vh 12vh ;
    }
    .logo-title{
        font-size:2vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .icons{
        padding:0% 0% 2vh 12vh ;
    }
    .logo-title{
        font-size:1.5vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}