
.fotter{
    display:flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    margin:15vw 2vw 5vw 2vw;
}

.copyright{
    height:15vh;
    width:40vw;
    margin:3vw 0 0 0 ;
}
.icons{
    height:15vh;
    width:30vw;
    padding:0 0 0 8vw;
}
.logo-copyright{
    font-size:4vw;
    
}
.icon{
    color:white;
    margin-left:1vw;
}
.table{
    display:flex;
    flex-direction: row;
    justify-content: center
}

@media only screen and (max-width: 600px) {
    .copyright{
        height:15vh;
        width:40vw;
        margin:3vw 0 0 0 ;
    }
    .logo-copyright{
        font-size:4vw;
    }
    .icons{
        height:15vh;
        width:30vw;
        padding:0 0 0 8vw;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .copyright{
        height:15vh;
        width:40vw;
        margin:1vw 0vw 0 0vw ;
    }
    .logo-copyright{
        font-size:2.5vw;
    }
    .icons{
        position:relative;
        left:0vw;
        width: 20vw;
        height:5vh;
    }
}


@media only screen and (min-width: 1024px ) {
    .copyright{
        height:15vh;
        width:40vw;
        margin:0vw 0vw 0 0vw ;
    }
    .logo-copyright{
        font-size:1.5vw;
    }
    .icons{
        position:relative;
        left:3vw;
        width: 20vw;
        height:5vh;
    }
}

@media only screen and (min-width: 1280px ) {
    .copyright{
        height:15vh;
        width:40vw;
        margin:0vw 0vw 0 0vw ;
    }
    .logo-copyright{
        font-size:1.5vw;
    }
    .icons{
        position:relative;
        left:5vw;
        width: 20vw;
        height:5vh;
    }
}