.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    }
    @keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
    } 

.fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
        }
        @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
        } 


.home { 
    background-color: #F5E593;
    }
.about { 
    background-color: #FDCA8B;
    }
.portfolio { 
    background-color: #F99092;
}
.hobbies { 
    background-color: #C0E3A6;
    }
.contact { 
    background-color: #96ACF2;
    }
.experimental { 
    background-color: #EC99EF;
}

@media only screen and (max-width: 600px) {
   
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    
}


@media only screen and (min-width: 1200px ) {
    
 }