
.grid-container-hobbies {
    height: 100%;
    text-align: left;
    margin:2vw 10vw 2vw 10vw;
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "v v-contant"
      "b-contant h"
      "c c-contant"
      "d-contant d";
  }
.v {
       grid-area: v;
      
      }

.v-contant { 
      grid-area: v-contant;
      background-color: #A9D189;
      border: 2px outset white;
     }
.h { grid-area: h; }
.b-contant { 
      grid-area: b-contant;
      background-color: #A9D189;
      border: 2px outset white;
     }
.c { grid-area: c; }
.c-contant { 
      grid-area: c-contant; 
      background-color: #A9D189;
      border: 2px outset white;
    }
.d { grid-area: d; }
.d-contant {
       grid-area: d-contant; 
       background-color: #A9D189;
       border: 2px outset white;
    }

.img-scale{
  width: 100%;
}
.card-title{
  font-size:6vw;
}
.card-content{
  font-size:5vw;
}
.link-card{
  text-decoration:none;
  color:white;
}
.link-card:hover{
  color: #333333;
}
.P-5{
  padding:8vw;
}

.M-3{
  padding:9vw 20vw 3vw 15vw;
}
.btn-box-discord{
  margin: 6vw 0 0 0 ;
  text-align:center;
  items-align:center;
}

#discord{
  width:auto;
  height:60px;
}
.discord{
  fill: white;
}
.discord:hover{
  fill: #7289DA;
}
@media only screen and (max-width: 600px) {
  .grid-container-hobbies{
    display:flex;
    flex-direction:column;
    margin:2vw 10vw 2vw 10vw;
  }
  .card-title{
    font-size:6vw;
  }
  .card-content{
    font-size:5vw;
  }
  .img-scale{
    
    width:150px;
    height: auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .grid-container-hobbies{
    display:flex;
    flex-direction:column;
    margin:2vw 5vw 2vw 5vw;
  }
  .card-title{
    font-size:4vw;
  }
  .card-content{
    font-size:2.5vw;
  }
  
}


@media only screen and (min-width: 1200px ) {
  .grid-container-hobbies{
    display:grid;
    flex-direction:none;
    margin:5vw 2vw 1vw 2vw;
  }
  .card-title{
    font-size:3vw;
  }
  .card-content{
    font-size:2vw;
  }
  .P-5{
    padding:2vw;
  }
 }

 @media only screen and (min-width: 2560px ) {
  .card-title{
    font-size:2vw;
  }
  .card-content{
    font-size:1.5vw;
  }
} 