.background {
    height: 100%;
    background-color: #303030;
}
html{
    height: 100%;
}

body{
    height: 100%;
}
.background-home{
    background-color: white;
}
.grid-container {
    display:flex;
    flex-direction: row;
    height: 100%;
}
.tab{
    padding:5%; 
    text-align:center; 
    height:100%;
    width:auto;
    display:block;
}
.tab-no{
    padding:5%; 
    text-align:center; 
    height:100%;
    width:auto;
    display:block;
}
.tab:hover{
    background-color:#333333;
}
.hover:hover{
    
    color:white;
    transform:scale(0.95)
}
.home { 
    background-color: #e4e132;
    }
.about { 
    background-color: #ffb224;
    }
.portfolio { 
    background-color: #f33232;
}
.hobbies { 
    background-color: #41cf41;
    }
.contact { 
    background-color: #1dd698;
    }
.experimental { 
    background-color: #b21ecf;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .grid-container {
        display:flex;
        flex-direction: column;
        height: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
@media only screen and (min-width: 1440px) {
   
}