.background {
    height: 100%;
    background-color: #303030;
}
html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}
.background-home{
    background-color: white;
}
.grid-container {
    display:flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    width: 100%;
}

.tab{
    padding:3vh; 
    margin: 0 auto;
    text-align:center; 
    height:auto;
    width:100%;
    display:block;
}
.tab:hover .avater{
    transform: scale(1.35)
}
.tab-hover:hover {
    background-color:#333333;    
    color:white;
    transform:scale(0.95)
}


.dashbord{
    height: 100%;
    width:100%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
   .tab {
       width: 50%;
   }
}

@media only screen and (min-width: 1200px ) {
    .tab {
        width:calc(100%/3)
    }
 }