.gallery{
    display:flex;
    flex-wrap: wrap;
    
}

.img-gallery{
    width:50px;
    height:50px;
    padding: 0.3vw;
}

@media only screen and (max-width: 600px) {
    .img-gallery{
        width:50px;
        height:50px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .img-gallery{
        width:160px;
        height:160px;
    }
}


@media only screen and (min-width: 1200px ) {
    .img-gallery{
        width:130px;
        height:130px;
    }
 }

@media only screen and (min-width: 2560px ) {
    .img-gallery{
        width:160px;
        height:160px;
    }
 }