.logo-box{
    display:flex;
    flex-direction:row;
    text-decoration:none; 
    color:white;
    font-family: 'Asap', sans-serif;
    align-items: center;
    margin:2vw 0 0 0;
}

.logo-title{
    margin: 0 0 0 1vw;
    font-size:3vw;
}
.logo{
    width:40px;
    height: 40px;
} 



@media only screen and (max-width: 600px) {
    .logo-box{
        margin:1vw 0 0 0;
    }
    
    .logo-title{
        margin: 0 0 0 1vw;
        font-size:3vw;
    }
    .logo{
        width:30px;
        height: 30px;
    } 
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .logo-box{
        margin:1vw 0 0 0;
    }
    
    .logo-title{
        margin: 0 0 0 1vw;
        font-size:3vw;
    }
    .logo{
        width:40px;
        height: 40px;
    } 
}


@media only screen and (min-width: 1200px ) {
    .logo-box{
        margin:0.5vw 0 0 0;
    }
    
    .logo-title{
        margin: 0 0 0 1vw;
        font-size:2rem;
    }
    .logo{
        width:50px;
        height: 50px;
    }
 }