.logo-box{
    display:flex;
    flex-direction:row;
}

.logo{
    width:4vw;
    height: 4vw;
}

.logo-box{
    text-decoration:none; 
    color:white;
    font-family: 'Asap', sans-serif;
    width:36vw;
    height: 5vw;
}

.logo-title{
    margin-left: 1vw;
    margin-top: 0vw;
    font-size:1.6rem;
}

@media only screen and (max-width: 320px) {
    .logo{
        width:15vw;
        height: 15vw;
    }
    .logo-title{
        margin-left: 1vw;
        margin-top: 1vw;
        font-size:1.6rem;
    }
}
@media only screen and (min-width: 375px) {
    .logo{
        width:15vw;
        height: 15vw;
    }
    .logo-title{
        margin-left: 1vw;
        margin-top: 1vw;
        font-size:1.6rem;
    }
}

@media only screen and (min-width: 414px) {
    .logo{
        width:15vw;
        height: 15vw;
    }
    .logo-title{
        margin-left: 1vw;
        margin-top: 1vw;
        font-size:1.6rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo{
        width:5vw;
        height: 5vw;
}
.logo-title{
    margin-left: 1vw;
    margin-top: 1vw;
    font-size:2vh;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo{
        width:5vw;
        height: 5vw;
}
.logo-title{
    margin-left: 1vw;
    margin-top: 1vw;
    font-size:2vh;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo{
        width:5vw;
        height: 5vw;
}
.logo-title{
    margin-left: 1vw;
    margin-top: 1vw;
    font-size:2vh;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .logo{
        width:3vw;
        height: 3vw;
}
.logo-title{
    margin-left: 1vw;
    margin-top: 1vw;
    font-size:5vh;
}
}

@media only screen and (min-width: 1440px) {
    .logo{
        width:3vw;
        height: 3vw;
}
.logo-title{
    margin-left: 1vw;
    margin-top: 1vw;
    font-size:5vh;
}
}
@media only screen and (min-width: 1800px) {
    .logo{
        width:3vw;
        height: 3vw;
}
    .logo-title{
        margin-left: 1vw;
        margin-top: 0.5vw;
        font-size:5vh;
}
}