.menu{
    display:flex;
    flex-wrap: nowrap;
    margin:1vw 8vw 0 8vw;
    justify-content:space-between;
    align-items:center;
    
}
.nav{
    
    
}
.nav-bar{
    position:relative;
    right: 6vw;
    width: 80%;
}
.logo-wrapper{
    
}





@media only screen and (max-width: 600px) {
    .menu{
        margin:1vw 8vw 0 8vw;
        
    }
    .nav{
        transform:scale(0.6);
        flex-wrap: nowrap;
        
        
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .menu{
        margin:1vw 3vw 0 3vw;
        
    }
    .nav{
        transform:scale(1);
        flex-wrap: nowrap;
        
        
    }
    .nav-bar{
        position:relative;
        right: 4vw;
        width: 48%;
    }
}


@media only screen and (min-width: 1024px ) {
    .menu{
        margin:1vw 5vw 0 5vw;
        
    }
    .nav{
        transform:scale(1);
        flex-wrap: nowrap;
        
        
    }
    .nav-bar{
        position:relative;
        right: 10vw;
        width: 30%;
    }
 }
 @media only screen and (min-width: 1280px ) {
    .menu{
        margin:1vw 1vw 0 1vw;
        
    }
    .nav{
        transform:scale(1);
        flex-wrap: nowrap;
        
        
    }
    .nav-bar{
        position:relative;
        right: 1vw;
        width: 30%;
    }
 }