.menu-box{
    display:flex;
}
.menu{
    width:30vw;
    margin:3vh 0 0 0;
}
.nav{
    flex-wrap: nowrap;
}
.j{
    margin-top:0vh;
    margin-left: 0vh;
    margin-right: 0vh;
}

.b{
    margin-top:0vh;
    margin-left: 0vh;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 375px) {
    .menu{
        transform: scale(0.6);
    }
    .nav{
        margin: 0 0 0 28vw;
    }
}

@media only screen and (min-width: 393px) {
    .menu{
        transform: scale(0.6);
    }
    .nav{
        margin: 0 0 0 28vw;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu{
        transform: scale(0.6);
    }
    .nav{
        margin: 0 0 0 28vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu{
        transform: scale(1);
    }
    .nav{
        margin: 0 0 0 28vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu{
        transform: scale(1);
    }
    .nav{
        margin: 0 0 0 28vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .menu{
        transform: scale(1);
    }
    .nav{
        margin: 0 0 0 28vw;
    }
}
@media only screen and (min-width: 1440px) {
    .menu{
        transform: scale(1);
    }
    .nav{
        margin: 0 0 0 28vw;
    }
}
@media only screen and (min-width: 2560px) {
    .menu{
        transform: scale(1.5);
        margin: 5vw 0 0 0;
    }
    .nav{
        margin: 0 0 0 10vw;
    }
}