.background-portfolio{
    background-color: #f33232;
    
}

.upper-table{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.table-portfolio{
    margin:5vh 0 5vh 0;
}

.grid-container-portfolio {
    display:flex;
    flex-direction:column;
  }
.body { grid-area: body; }
.btn-box {
    grid-area: btn-box; 
    display:flex;
    justify-content:left;
    margin-top:1.5vw;
    }

.btn{
    border-radius:15vh;
    
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
@media only screen and (min-width: 1440px){
    
}