.background-portfolio{
    background-color: #f33232;
    
}

.upper-table{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.table-portfolio{
    margin:5vh 0 5vh 0;
}

.grid-container-portfolio {
    display:flex;
    flex-direction:column;
  }
.body { grid-area: body; }
.btn-box {
    grid-area: btn-box; 
    display:flex;
    justify-content:left;
    margin-top:1.5vw;
    }

.btn{
    border-radius:15vh;
    
}
.btn-outline-portfolio{
    color:white;
    border-color:white;
}
.btn-outline-portfolio:hover{
    color:#F35356;
    background-color:white;
}
@media only screen and (max-width: 600px) {
   .btn-box{
        margin-top:1.5vw;
   }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .btn-box{
        margin-top:1.5vw;
   }
}


@media only screen and (min-width: 1200px ) {
    .btn-box{
        margin-top:0.5vw;
   }
 }

