.avater{
    width:200px;
    height: auto;
    border-radius:150vh;
}

.link-home{
    text-decoration:none;
    color:white;
    height:50vh;
    font-family: 'Asap', sans-serif;
    

}

a:hover{
    color:white;
    
}

.img-info{
    margin-top:5vh;
}
.contant-info{
    margin-top:5vh;
    text-align:center;
}

.title-tab{
    font-size:5vw;
}
.body-tab{
    font-size:4vh;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .title-tab{
        font-size:6vw;
    }
    .body-tab{
        font-size:5vw;
    }
    .avater{
        width:200px;
        height: auto;
        border-radius:150vh;
    }
}


@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .title-tab{
        font-size:4vw;
    }
    .body-tab{
        font-size:2.5vw;
    }
    .avater{
        width:250px;
        height: auto;
        border-radius:150vh;
    }
}


@media only screen and (min-width: 1200px ) {
    .title-tab{
        font-size:3vw;
    }
    .body-tab{
        font-size:1.8vw
    }
    .title-tab{
        font-size:2.5vw;
    }
    .avater{
        width: 180px;
        height: auto;
        border-radius:150vh;
    }
 }